{#

Beérkező paraméterek:

firstname: felhasználó keresztneve
server_url: szerver url
reset_url: jelszó visszaállító url

#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>E-mail template</title>
	<!--[if gte mso 9]>
	<xml>
	  <o:OfficeDocumentSettings>
	    <o:AllowPNG/>
	    <o:PixelsPerInch>96</o:PixelsPerInch>
	 </o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
</head>
<body bgcolor="#f0f0f0" style="padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;border:none;background:#f0f0f0;border-collapse:collapse;">
<!--[if !mso]><!-- -->
	<div style="max-width:620px;margin:0px auto 0px auto;background:none;padding:0px 0px 0px 0px;">
		<div style="margin:20px 10px 10px 10px;background-color:white;padding:40px 7% 40px 7%;border-radius:4px;">
			<div style="position:relative;clear:both;overflow: hidden;">
				<p style="font-family: 'Calibri','Arial';font-weight: bold; font-size: 24px;text-align:left;margin:0;padding-bottom: 20px;">
					<span style="color:#3F51B5;">Kedves {{ firstname }}!</span>
				</p>
				<p style="color:#555555;font-family: 'Calibri','Arial';font-weight: normal; font-size: 18px;text-align:left;margin:0;line-height:26px;margin-bottom:20px;">
					Ezt a levelet azért kaptad, mert jelszó-emlékeztetőt kértél.
				</p>
				<p style="color:#555555;font-family: 'Calibri','Arial';font-weight: normal; font-size: 18px;text-align:left;margin:0;line-height:26px;margin-bottom:0px;">
					Az alábbi gombra kattintva új jelszót állíthatsz be magadnak. Ez a levél egy óra múlva érvényét veszti.
				</p>
			</div>
			<div style="position:relative;clear:both;overflow: hidden;text-align:center;margin-top:30px;margin-bottom:10px;">
					<a href="{{ reset_url }}" style="display:inline-block;background-color:#3F51B5;border-radius:4px;padding:7px 20px;color:white;font-family: 'Calibri','Arial';font-size:20px;text-decoration:none;" alt="NN Biztosító Zrt.">Megadok egy új jelszót</a>
			</div>
		</div>
		<div style="margin:0px 10px 10px 10px;padding:20px 7% 20px 7%;">
			<p style="color:#999999;font-family: 'Calibri','Arial';font-weight: normal; font-size: 16px;text-align:left;margin:0;line-height:20px;">
				Ez az elektronikus levél kizárólag a címzettnek szól, cimzetten kívül az üzenethez való hozzáférés jogosulatlan,
				az elektronikus levél megismerése, másolása, terjesztés és bárminemű felhasználása tilos valamint jogkövetkezményeket
				von maga után. Ha Ön nem az elektronikus levél címzettje, kérjük válaszüzenetben értesítse a feladót és törölje az
				elektronikus levelet annak tartalmának és csatolmányainak megismerése nélkül.
			</p>
		</div>
	</div>
<!--<![endif]-->
</body>
</html>
